body{
  background-color: antiquewhite;
}
.navbar{
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */  width: 100%;
  font-family: 'Antic Didone', serif;
  font-weight: 500;
  background-color:rgb(241,168,132);
  color: antiquewhite;
  height: 50px;
  z-index: 10;
}
.navbar-brand{
  color: antiquewhite;
  font-weight: 600;
  font-family: 'Antic Didone', serif;
  font-size: 1.5rem;
  padding-left: 2%;
}
.nav-menu{
  margin:0% 45% 0% 30%;
}
.nav-menu a{
  text-decoration: none;
  padding:0% 10%;
  color: antiquewhite;
}
.item{
  margin-right: 20px ;
}
.home-container{
  height: 710px;
  background-image: url("./components/Images/Escape to a world of blissful aromas with our perfumes.png");
  background-repeat: no-repeat;
  font-family: 'Antic Didone', serif;
  background-size: cover;
  color: antiquewhite;
}
.shop-container{
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 600px;
}
.home-branding{
  color: antiquewhite;
  position: absolute;
  line-height: 3rem;
 padding: 400px 0px 0px 10px;
}
.branding-2{
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 500;
}

